* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Golos Text", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Golos+Text&family=Shantell+Sans:wght@300&display=swap");

.main {
  height: 100vh;
  background-color: #c2e2f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  padding: 10px;
  min-width: 400px;
  border-radius: 10px;
  background-color: rgb(70, 121, 143);
  box-shadow: 0 4px 10px rgb(0 0 0 /50%);
}
#pass-box {
  width: 100%;
  display: block;
  background-color: white;
  font-size: 30px;
  padding: 10px;
  border-radius: 4px;
}
.row {
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  color: white;
  font-size: 20px;
}
label {
  user-select: none;
}

#btn {
  width: 100%;
  font-size: 20px;
  outline: 0;
  border: 0;
  padding: 10px;
  background-color: #34495e;
  color: white;
  margin-top: 10px;
  border-radius: 5px;
}
